/* Form */

form {
	display: flex;
	justify-content: space-between;
}

.searchBarBig > input,
.searchBarBig > button {
	font-size: 30px;
}

.searchBarBig {
	padding: 10px;
}

/* Main */

main {
	justify-content: space-between;
}

/* Img */

.cover {
	height: 300px;
	width: 80%;

	border-radius: 20px;
}
