/* Nav */

header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 5px;

	position: sticky;
	top: 0;
}

/* Body & Main */

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 80vw;
	margin: 20px auto;
	margin-top: 100px;
}

/* Titles */

h1 {
	font-size: 100px;
	text-align: center;

	padding: 20px;
}

h2 {
	font-size: 80px;
	text-align: center;

	padding: 20px;
}

.titleCover {
	position: relative;
	bottom: 300px;
	margin-bottom: -150px;
}

/* Img */

.logoSmall {
	width: 30px;
	height: 30px;
}

/* Footer */

footer {
	margin-top: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 5px;
}

/* Colors */

.textOnLightBg {
	color: black;
	background-color: rgb(237, 234, 234);
}

.mainColorBg {
	background-color: rgb(70, 166, 40);
}

.secondaryColorBg {
	background-color: rgb(237, 234, 234);
}

.errorMsg {
	color: red;
}

/* Fonts */

.mainFont {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}
