/* Nav */

header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 5px;
}

header {
	position: sticky;
	top: 0;
}

/* Body & Main */

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 80vw;
	padding: 20px;
	margin: 50px auto;
}

/* Titles */

h1 {
	font-size: 100px;
	text-align: center;

	padding: 20px;
}

h2 {
	font-size: 80px;
	text-align: center;
	padding: 20px;
}

/* Img */

.logoSmall {
	width: 30px;
	height: 30px;
}

/* Form */

input,
button,
select {
	border-radius: 20px;
	margin-right: 5px;
}

/* Footer */

footer {
	margin-top: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 5px;
}

/* Colors */

.textOnLightBg {
	color: black;
	background-color: rgb(21, 21, 21);
}

.mainColorBg {
	background-color: rgb(70, 166, 40);
}

.secondaryColorBg {
	background-color: rgb(227, 227, 227);
}

.errorMsg {
	color: red;
}

.colorOnSecondaryBg {
	color: rgb(0, 0, 0);
}

/* Fonts */

.mainFont {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
